<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>10536691069-djpr69sepn3h71qr27t5alpscl0a90e3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.10536691069-djpr69sepn3h71qr27t5alpscl0a90e3</string>
	<key>API_KEY</key>
	<string>AIzaSyCnk7ud3zOOTp17qaPEgWgY_gLB1dDkzvg</string>
	<key>GCM_SENDER_ID</key>
	<string>10536691069</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.googleAuthRiverpod.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>rivepodauth</string>
	<key>STORAGE_BUCKET</key>
	<string>rivepodauth.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:10536691069:ios:a6c4c0c1709b83b4fad814</string>
</dict>
</plist>